body {
    font-family: arial, sans-serif;
    font-size: 1.1vw;
}

section {
    padding: 1em;
    margin: 0.2em 1em;
    border: 0.1em dotted #ff9900;
    border-radius:0.5%;
    width:65em;
    
}

.header {
    width:66.7em;
    margin-left: 0.27em;
    border:none;
    height:12em;
    overflow:hidden;
}

#welcome-text {
    position:relative;
    left:16em;
    margin-top:-27em;
    
}

#burger-joint{
    opacity:0.6;
    width:100%;
    height:auto;

}
#burger-joint:hover{
    opacity:1;
}

#sens-ingredients {
    font-weight:bold;
}

.burger-section {
    background-color: black;
    color: white;
    
}

.customer-info {
    padding:1em;
}

button:hover {
    background-color: lightblue;
    cursor: pointer; 
}

#submit-button {
    /* TODO: Wont keep proportions*/
    margin-left: 40%;
    
}

.wrapper {
     display: grid;
     grid-template-columns: auto auto auto;
     grid-template-rows: auto auto;
     grid-gap: 5px;
     font-size: 0.7em;
}
.wrapper, radio {
    margin-bottom:0%;
}

.box {
     padding: 0em;
     font-size: 150%;
     grid-auto-flow:row;
 
}
.title {
    grid-row:1;
   
}

.pictures {
    grid-row:2;
   
}

.ingredients {
    grid-row:3;

}

.selectBurger {
    grid-row:4;
    margin-left:2em;
}
